{% extends "base.html" %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-danger">Excluir Abrigo</h2>
    <p class="text-center">Você tem certeza que deseja excluir o abrigo <strong>{{ object.nome }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <div class="text-center">
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'listar_abrigos' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
