{% extends "base.html" %}

{% block title %}Lista de Abrigos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Lista de Abrigos</h2>

    <!-- Botões de ação -->
    <div class="d-flex justify-content-between mb-3">
        <!-- Botão para adicionar um novo abrigo -->
        <a href="{% url 'adicionar_abrigo' %}" class="btn btn-success">Adicionar Abrigo</a>
        <!-- Botão para retornar à Home -->

    </div>

    <!-- Tabela de Abrigos -->
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Capacidade</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% if abrigos %}
                {% for abrigo in abrigos %}
                    <tr>
                        <td>{{ abrigo.nome }}</td>
                        <td>{{ abrigo.endereco }}</td>
                        <td>{{ abrigo.capacidade }}</td>
                        <td>{{ abrigo.telefone }}</td>
                        <td>{{ abrigo.email }}</td>
                        <td>
                            <a href="{% url 'editar_abrigo' abrigo.pk %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'excluir_abrigo' abrigo.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">Nenhum abrigo cadastrado.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
