{% extends "base.html" %}

{% block title %}Lista de Abrigos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="my-4 text-center">Lista de Abrigos</h2>
    <a href="{% url 'adicionar_abrigo' %}" class="btn btn-primary mb-4">Adicionar Abrigo</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Vitimas Registradas</th>
                <th>Capacidade</th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>{{ abrigo.nome }}</td>
                    <td>{{ abrigo.endereco }}</td>
                    <td>{{ abrigo.capacidade }}</td>
                    <td>
                        {% if abrigo.pk %}
                            <a href="{% url 'editar_abrigo' abrigo.pk %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'excluir_abrigo' abrigo.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                        {% else %}
                            <span>Não disponível</span>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td colspan="4" class="text-center">Nenhum abrigo cadastrado.</td>
                </tr>

        </tbody>
    </table>
</div>
{% endblock %}
