{% extends "base.html" %}

{% block title %}Lista de Voluntários{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="my-4 text-center">Manutenção de Voluntários</h2>

    <!-- Botões de Adicionar e Lista -->
    <div class="row text-center">
        <div class="col-md-3 mb-4">
            <a href="{% url 'adicionar_medico' %}" class="btn btn-primary w-100 mb-2">Adicionar Médico</a>
            <a href="{% url 'lista_medicos' %}" class="btn btn-outline-primary w-100">Ver Lista de Médicos</a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{% url 'adicionar_psicologo' %}" class="btn btn-secondary w-100 mb-2">Adicionar Psicólogo</a>
            <a href="{% url 'lista_psicologos' %}" class="btn btn-outline-secondary w-100">Ver Lista de Psicólogos</a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{% url 'adicionar_veterinario' %}" class="btn btn-info w-100 mb-2">Adicionar Veterinário</a>
            <a href="{% url 'lista_veterinarios' %}" class="btn btn-outline-info w-100">Ver Lista de Veterinários</a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="{% url 'adicionar_atendente' %}" class="btn btn-success w-100 mb-2">Adicionar Atendente</a>
            <a href="{% url 'lista_atendentes' %}" class="btn btn-outline-success w-100">Ver Lista de Atendentes</a>
        </div>
    </div>

    <!-- Contadores de Voluntários -->
    <div class="alert alert-primary text-center">
        <h5>Número de Voluntários</h5>
        <div class="row">
            <div class="col-md-3">
                <p><strong>Médicos:</strong> {{ total_medicos }}</p>
            </div>
            <div class="col-md-3">
                <p><strong>Psicólogos:</strong> {{ total_psicologos }}</p>
            </div>
            <div class="col-md-3">
                <p><strong>Veterinários:</strong> {{ total_veterinarios }}</p>
            </div>
            <div class="col-md-3">
                <p><strong>Atendentes:</strong> {{ total_atendentes }}</p>
            </div>
        </div>
        <hr>
        <p><strong>Total de Voluntários:</strong> {{ total_voluntarios }}</p>
    </div>
</div>
{% endblock %}
